@import "../../styles/bootstrap/shared";

.users-list {
  margin-top: 20px;

  h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .wrap {
    background-color: $white;
    padding: $container-padding-x 0 0 0;
    border-radius: $border-radius;
    border: 1px $border-color solid;
    box-shadow: $box-shadow;

    > table {
      border-top: 1px $border-color solid;

      & > :not(:first-child) {
        border-color: $border-color;
      }


    }
  }

  .filters {
    margin-bottom: map-get($spacers, 3);
    padding: 0 $container-padding-x;
  }

  .avatar {
    background-color: $avatar-bg;
    color: $avatar-color;
    padding: .25rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    line-height: 2rem;
    text-align: center;
    margin-right: 1rem;
    text-transform: uppercase;
  }
}
