.btn-primary {
  &,
  &:disabled,
  &:hover {
    color: $white;
  }
}

.btn-secondary {
  &,
  &:disabled,
  &:hover {
    color: $text-muted;
  }
}

.modal-content {
  overflow: hidden;
}

.modal-footer {
  box-shadow: $box-shadow-lg;
}
