$primary: #86B6B8;
$secondary: #F1F2F3;
$body-color: #5A5A5A;
$border-color: #DDD;
$body-bg: #FAFAFA;

$input-border-color: #E7E4E4;
$form-label-font-size: 0.75rem;

$border-radius: .125rem;
$border-radius-sm: .125rem;
$border-radius-lg: .125rem;

$modal-header-border-width: 0px;
$modal-footer-border-width: 0px;

$text-muted: #808080;

$avatar-bg: #E7E4E4;
$avatar-color: #FFF;
